@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono";
}
body {
  background: #c5e4e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  overflow-y: scroll;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
main {
  display: flex;
  flex-direction: column;
  padding: 32px 24px;
  margin-top: 40px;
  border-radius: 25px 25px 0px 0px;
  background: #fff;
  box-shadow: 0px 32px 43px 0px rgba(79, 166, 175, 0.2);
  width: 100%;
  height: 100%;
}
.bill-bar {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.bill-bar span {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
}
.bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 17px 0 19px;
  border-radius: 5px;
  background: #f3f9fa;
  height: 48px;
  color: #00474b;
}
.bill-bar input {
  text-align: end;
  width: 100%;
  height: 36px;
  border: none;
  background: transparent;
  outline: none;
  color: #00474b;
  font-size: 24px;
  font-weight: 700;
}
.bill-bar input::placeholder {
  opacity: 0.35;
  font-weight: 700;
}
.tip {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}
.select-tip {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
}
.percent-box {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #00474b;

  height: 48px;
}
.custom {
  background: #f3f9fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.custom input {
  text-align: end;
  width: 89px;
  height: 36px;
  border: none;
  background: transparent;
  outline: none;
  color: #00474b;
  font-size: 24px;
  font-weight: 700;
}

.percentage {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}
.boxes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
}

.people {
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin-top: 32px;
}
.people span {
  color: #5e7a7d;
  font-size: 16px;
  font-weight: 700;
}
.people-check {
  display: flex;
  justify-content: space-between;
}
.people .cant-zero {
  color: #e17457;
}
.people-border {
  border: 2px solid #e17052;
}

.numOfPeople input {
  text-align: end;
  width: 100%;
  height: 36px;
  border: none;
  background: transparent;
  outline: none;
  color: #00474b;
  font-size: 24px;
  font-weight: 700;
}
.numOfPeople input::placeholder {
  opacity: 0.35;
  font-weight: 700;
}
.tip-info {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background: #00474b;
  padding: 37px 22px 24px 24px;
  margin-top: 32px;
}

.about-tips {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.tip-amount {
  display: flex;
  flex-direction: column;
}
.div-amount {
  display: flex;
  justify-content: space-between;
}
.div-amount .amount {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.div-amount span {
  color: #7f9d9f;
  font-size: 13px;
  font-weight: 700;
}
.price span {
  color: #26c2ae;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: -0.667px;
}
.reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  background: #0d686d;
  margin-top: 32px;
}
.reset span {
  color: #00474b;

  text-align: center;
  font-size: 20px;
  font-weight: 700;
  opacity: 0.35;
}
.active-percent {
  background: #26c2ae;
}
.active-percent span {
  color: #00474b;
}

@media only screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    gap: 87px;
  }
  main {
    margin-top: 0;
    width: 920px;
    border-radius: 25px;
  }
  .main-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 48px;
  }
  .tip-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
  }
  .div-amount {
    align-items: center;
  }
  .middle-section {
    width: 100%;
  }

  .boxes {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .people {
    margin-top: 40px;
  }
  .price span {
    font-size: 48px;
    font-weight: 700;
    letter-spacing: -1px;
  }

  .enter-bill:hover {
    border: 2px solid #26c2ae;
  }
  .percent-box:hover {
    cursor: pointer;
    background: #9fe8df !important;
  }
  .percent-box {
    transition: 0.3s ease;
  }
  .percent-box:hover span {
    color: #00474b;
  }
  .percent-box span {
    transition: 0.3s;
  }

  .custom:hover {
    transition: 0s;
    border: 2px solid #26c2ae;
    cursor: pointer;
    background: #f3f9fa;
  }
  .reset:hover {
    cursor: pointer;
    background: #9fe8df;
  }
  .reset span:hover {
    transition: 0.3s;
    cursor: pointer;
    color: #00474b;
  }
}
